.section {
  display: flex;
  flex-direction: column-reverse;

  @include media-up(tablet) {
    flex-direction: row;
  }
}

.gallery {
  width: 100%;
  // Force all images inside to respect max-width
  img {
    max-width: 100% !important; // Use !important to override any other styles
    height: auto !important;
    display: block;
  }
  @include media-up(tablet) {
    width: 60%;
  }
}

.container {
  width: 100%;
  padding: auto;

  @include media-up(tablet) {
    width: 40%;
  }
}

.containerSticky {
  @include media-up(tablet) {
    position: sticky;
    top: 128px;
  }
}

.detailsRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  max-width: 100%;
  margin-top: 20px;

  @include media-up(tablet) {
    padding: 0 32px;
  }
}

// 787px and above (tablet/desktop)
@media (max-width: 787px) {
.detailsRight {
  margin-top: 100px;
}
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
