.section {
  display: flex;
  flex-direction: column-reverse;

  @include media-up(tablet) {
    flex-direction: row;
  }
}

.gallery {
  width: 100%;

  @include media-up(tablet) {
    width: 60%;
  }
}

.container {
  width: 100%;

  @include media-up(tablet) {
    width: 40%;
  }
}

.containerSticky {
  @include media-up(tablet) {
    position: sticky;
    top: 128px;
  }
}

.detailsRight {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 96px 32px;

  @include media-up(tablet) {
    padding: 0 32px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
