.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 20px;
  max-width: 370px;
  padding: 0 20px;
}

.description {
  text-align: center;
}

.description span {
  color: #444444;
  line-height: 1.8;
  font-size: 12px;
  font-family: var(--primary-font), sans-serif;
  font-weight: 300;
  margin: 0;    /* Slightly bigger than parent */
}

// Container fixes for product grid
@media (min-width: 768px) {
.description span {
 font-size: 11px;
}
}
