.section {
  background-color: white;
  &.theme {
    &-light {
      background-color: white;
    }
    &-dark {
      background-color: var(--brand-ascension-blue);
    }
  }
}

.container {
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 64px; // 100px top/bottom, 64px left/right
  gap: 48px;

  @include media-up(tablet) {
    padding: 100px 64px; // Equal padding top/bottom
    gap: 80px;
  }
}

.image {
  width: 160px;
  height: auto;
}

.contentContainer {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
