.section {
  display: flex;
  // min-height: 100vh;
  position: relative;
  background-color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: var(--layout-container-spacing);
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  @include media-up-desktop {
    justify-content: center;
    align-items: flex-end;
  }

  .containerSticky {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    @include media-up-desktop {
      justify-content: center;
      top: 100px;
      padding-bottom: 1px;
    }

    .contentGroup {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      min-height: 100%;
      padding-bottom: 20px;

      @include media-up-desktop {
        justify-content: center;
        padding-bottom: 0;
      }

      .button {
        position: sticky;
        top: 50%;
        max-width: 200px;
        @include media-up-desktop {
          top: 100px;
          /* desktop offset */
        }
      }
    }
  }
}

.videoContainer {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    object-fit: cover;
  }
}