.container {
  position: relative;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  max-width: 100% !important;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.section {
  display: flex;
  height: auto;
  min-height: 100vh;
  background-color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  padding: var(--layout-container-spacing);

  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  @include media-up-desktop {
    justify-content: center;
    align-items: flex-end;
  }

  .containerSticky {
    height: 100%;
    min-height: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    @include media-up-desktop {
      top: 100px;
      justify-content: center;
      padding-bottom: 100px;
    }
  }

  .button {
    position: sticky;
    top: 50%;
    max-width: 200px;
    @include media-up-desktop {
      top: 100px;
    }
  }
}

// .layout {
//   position: absolute;
//   z-index: 10;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   width: 100%;
// }
