.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--brand-ascension-blue);
  color: white;
  z-index: 999999999999;
  pointer-events: none; // Don't block clicks unless visible
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  
  &.visible {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s;
  }
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

.footer {
  position: absolute;
  width: 90%;
  bottom: 0;
  text-align: center;
  padding: 64px;
}
