.section {
  position: relative;
  z-index: 1;
  background-color: white;
  color: var(--fg-default);

  //&::before, &::after {
  //  background-color: white;
  //  mix-blend-mode: difference;
  //  pointer-events: none;
  //  content: "";
  //  position: absolute;
  //  bottom: 0;
  //  top: 0;
  //  right: 0;
  //  left: 0;
  //}
  //
  //&::before {
  //  z-index: 1;
  //}
  //
  //&::after {
  //    z-index: -1;
  //}
  //
  //mix-blend-mode: difference;
}

// -------------------
// Spacing - All removed, use SpacerSection component instead
.spacing {
  &_top {
    &_none,
    &_sm,
    &_md,
    &_lg,
    &_xl {
      padding-top: 0;
    }
  }

  &_bottom {
    &_none,
    &_sm,
    &_md,
    &_lg,
    &_xl {
      padding-bottom: 0;
    }
  }
}
