.youtubeWrapper,
.vimeoWrapper {
  position: relative;
  width: 100%;
  height: auto;

  iframe {
    position: absolute;
    // setting background color because vimeo embed has weird floating control buttons around it without it
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: auto;
    margin: auto;
    height: 100%;
  }
}

.container {
  width: 100% !important;
  height: 100% !important;

  // Mobile full-width/full-height styling (like FullscreenImageSection)
  @include media-down(tablet) {
    min-height: 100vh;
    min-width: 100vw;
    
    video {
      object-fit: cover;
      min-height: 100vh;
      min-width: 100vw;
      transition: opacity 150ms ease;
    }
  }
}

.object-fit {
  &-contain {
    object-fit: contain;
  }
  &-cover {
    object-fit: cover;
  }
}
